p  {
  font-family: serif;
}
h1, h2, h4 ,h3, h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fix-in-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #04D4F0;
}

.homepage-full {
  background-image: linear-gradient(to left top, #ffffff, #f3f9ff, #dbf6ff, #baf5ff, #98f4ff, #97f5fc, #97f5f9, #97f6f5, #b3f9f8, #cbfbfb, #e3fdfd, #f9ffff);
  text-align: center;
  width: inherit;
  min-height: 100vh;
  height: max-content;
}

.cv-full {
  background: #27221f  ; /* fallback for old browsers */
  text-align: center;
  width: inherit;
  min-height: 100vh;
  height: max-content;
  color: #fff;
}

.img-borders{
  border: 1px solid #059DC0;
}

.profile-img-border {
  position: relative;
  width: 200pt;
  height: 200pt;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #059DC0;
  margin-left: auto;
  margin-right: auto;
}
.profile-img-border img {
  width: 100%;
  height: 100%;;
}
.header-color {
  background: #de6161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2657eb,
    #de6161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2657eb,
    #de6161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text {
  overflow: hidden;
  border-radius: 20%;
  background-color: #27221f;
  width: 80vw;
  margin: auto;
  margin-top: 2%;
  border: 3px solid #059DC0;

}
.banner-text h1 {
  font-weight: bold;
  color: #fff;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  margin-bottom: 3%;
}
.banner-text {
  color: white;
  padding: 1em;
  width: fit-content;
  padding-left: 1%;
  padding-right: 1%;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-bottom: 3%;
  padding: 1%;

}
.social-links i {
  color: white;
  padding: 1%;
  font-size: 5em;
}
.resume-right-col {
  background: #27221f;
  color: #fff;
}
.bg-custom {
  background: linear-gradient(to bottom, #8259cb 0, #673ab7 100%);
}

.footer {
  position: absolute;
  bottom: 3%;
  width: 60%;
  height: 5%;            /* Footer height */
}