p , h1 {
  font-family: serif;
}
h2, h4 ,h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fix-in-center {
  justify-content: center;
  align-items: center;
}
.Tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 10px; */
  background-color: beige;
}
.homepage-full {
  background: #fce7d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffceb0,
    white
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffceb0,
    white
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  width: inherit;
  min-height: 100vh;
  height: max-content;
}

.profile-img-border {
  position: relative;
  width: 200pt;
  height: 200pt;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}

.icon-border {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  /* margin-top: 2%; */
}
.profile-img-border img {
  width: 100%;
  height: 100%;;
}



.header-color {
  background: #de6161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2657eb,
    #de6161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2657eb,
    #de6161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




.banner-text {
  border-radius: 15%;
  background-color: black;
  opacity: 0.75;
  width: 40%;
  margin: auto;
  margin-top: 2%;
  border: 2px solid #ddd;

}

.banner-text h1 {
  font-weight: bold;
  color: #fff;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text {
  color: white;
  padding: 1em;
  width: fit-content;
  padding-left: 1%;
  padding-right: 1%;
}

p {
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-bottom: 3%;
}

.social-links i {
  color: white;
  padding: 1%;
  font-size: 5em;
}

.projects-grid {
  margin: auto;
  width: 100%;
}

.project-item {
  float: left;
  margin: 10%;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}


.contact-grid hr {
  border-top: 5px dotted black;
  margin: auto;
  width: 50%;
}

.resume-right-col {
  background: #27221f;
  color: #fff;
}
